html{
    height:100%;
    width:100%;
}
body{
    height:100%;
    width:100%;
    background-image: url("imgs/sunny-jade.png.jpg");
    background-position: center;
    background-size: cover;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}
*::before,
*::after {
  box-sizing: border-box;}

main{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#test-div{
    width:30%;
    height:25%;
}
.cool-border{
    
    box-shadow:
        0 0 0 2em #f4aab9,
        0 0 0 4em #66ccff
    ;
}